
            {% for tag in site.categories %} {% capture tag_name %}{{ tag | first }}{% endcapture %}
            {% assign visible_posts = tag[1] | visible_posts %}
            {% if visible_posts.size > 0 %}
            <div id="#{{ tag_name | slugize }}"></div>
            <li class="tag-head">
                <a href="{{ site.baseurl }}/blog/categories/{{ tag_name }}">{{ tag_name }}</a>
            </li>
            <a name="{{ tag_name | slugize }}"></a>
            {% endif %}

            {% endfor %}
