---
layout: full-width
---

<script>
  var typewriter_texts = {{ site.data.typewriter_texts | jsonify }};

  var typeText = function(text) {
    $('.typewriter-text').typewrite({
      actions: [{ type: text }]
    });
  };

  var typeRandomText = function() {
    var text = typewriter_texts[Math.floor(Math.random() * typewriter_texts.length)];
    typeText(text);
  };

  $(document).ready(function() {
    typeRandomText();
  });
</script>
    <!-- hero section-->
    {%- include hero.html -%}
    <div class="col-lg-8 offset-md-2">
      {%- include recent_articles.html -%}
    </div>